/** {
	padding: 0px;
	margin: 0px;
}*/

body {
	background-color: aqua;
	font-family: Verdana;
	font-size: 18px;
}

#city, #day {
	width: auto;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
    margin: 20px;
}

li {
	border: 1px solid black;
	border-collapse: collapse;
	width: 220px;
	padding: 5px;
}

#result5day {
	float: left;
}

button {
	font-weight: 700;
  	color: white;
  	text-decoration: none;
  	padding: .8em 1em calc(.8em + 3px);
  	border-radius: 3px;
  	background: rgb(64,199,129);
  	box-shadow: 0 -3px rgb(53,167,110) inset;
  	transition: 0.2s;
} 

button:hover {
	background: rgb(53, 167, 110); 
}

button:active {
  	background: rgb(33,147,90);
  	box-shadow: 0 3px rgb(33,147,90) inset;
}
td {
	border: 1px solid black;
	border-collapse:collapse;
	width: 250px;
	/*padding: 5px;*/
}

tr {
	/*margin-left: 50px;*/
	float: left;
}

table {
	border: 1px solid black;
	border-collapse:collapse;
	padding-left: 30px;
	
}

h3 {
	padding-left: 30px;
}